* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: url(./Portfolio/img/black-wall-background-ploy-02_1.jpg) no-repeat
    center center/cover;
  font-family: "Secular One", sans-serif;
}
.navbar {
  border-bottom: solid orange 1px;
  background-color: transparent;
  overflow: hidden;
  width: 100%;
  position: sticky;
  top: 0;
}

.item {
  display: inline;
  padding: 15px;
}
.menu-right {
  float: right;
}
.menu-left {
  float: left;
}
.item button {
  margin-top: 20px;
  background-color: transparent;
  padding: 10px 20px;
  color: white;
  /* font-weight: bold; */
  letter-spacing: 1.7px;
  font-size: 16px;
  cursor: pointer;
  background: transparent;
  border: transparent;
  outline: none;
  transition: 1s ease-in-out;
}
.item button {
  color: #fff;
  transition: all 0.3s;
  position: relative;
}

.item button::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: orange;
  border-bottom-color: orange;
  transform: scale(0.1, 1);
}
.item button:hover {
  letter-spacing: 2px;
  font-weight: bold;
}
.item button:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}
.item button::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  /* background-color: rgba(255,255,255,0.1); */
}
.item button:hover::after {
  opacity: 0;
  transform: scale(0.1, 1);
}

/* 
.item button:hover {
  border: solid orange 1px;
  background-color: orange;
  color: black;
} */
#home h1 {
  color: #fff;
  font-size: 3rem;
}
#home {
  padding: 20px;
  margin: 260px;
  height: 70vh;
}
h1 span {
  color: orange;
}
#home button {
  border: solid orange 2px;
  padding: 15px;
  margin-left: 40px;
  font-size: 20px;
}
#home button:hover {
  background-color: orange;
  color: black;
  font-weight: bold;
}
#about {
  background: url(./Portfolio/img/white-wall-lamp.jpg);
  color: #fff;
  font-size: 1.2rem;
}
#about h1 {
  font-size: 3rem;
}
.page {
  height: 110vh;
  padding: 150px;
}
.page p {
  width: 450px;
  letter-spacing: 1.1px;
}
#contact {
  background: url(./img/phone.jpg) no-repeat center center/cover;
  color: #fff;
}

#contact h1 {
  font-size: 40px;
  letter-spacing: 1.2px;
}

form {
  border: orange solid 2px;
  /* border-radius: 10px; */
  padding: 20px 40px;
  width: 450px;
  align-items: center;
  font-size: 20px;
}
.contact-button {
  margin-top: 10px;
  padding: 10px 20px;
  background: transparent;
  color: #fff;
  font-size: 20px;
  border: solid orange;
}
.contact-button:hover {
  background-color: orange;
  color: black;
}

label {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.form-group {
  margin: 0 auto 1.15rem auto;
  padding: 0.15rem;
}
input,
button,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

input,
textarea,
select {
  margin: auto;
}
#opentext {
  height: 100px;
}
